body{
    padding: 0;
    margin: 0;
}

.conteiner-ImagemFundo{
    position: relative;
    width: 100%;
    min-height: 100vh; /* Ou a altura fixa desejada */
    overflow: hidden;   /* Corta tudo que tentar sair do container */
}

.ImagemFundo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;  /* Faz a <img> se comportar como background-size: cover */
    z-index: -1;        /* Joga a imagem para trás do conteúdo */
}