@import url('https://fonts.googleapis.com/css2?family=Asap+Sharp:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
:root{
    /*CONFIG CORES*/
    --prin-cor:#1CBBFF;
    --sec-cor:#FFBA2E;
    --terc-cor:#FF7223;
    --prox-prin-cor:#497080;
    --prox-terc-cor:#806E49;
    --borda: 1px solid black;

    /*CONFIG ALTURAS*/
    --hea-alt:150px;
    --main-alt:500px;
    --foot-alt:100px;
}

*{
    margin: 0px;
    padding: 0px;
}

p{
    text-align: center;
}

p#aviso{
    font-size: 20px;
    color:black;
}

p#lorem{
    color: rgb(99, 99, 99);
}

body{
    font-family: 'Courier New', Courier, sans-serif;
    background-image: linear-gradient(to bottom, #126e95a6, #0b374aa6),
    url(../Imagens/Solar_Fundo_1920_25dpi.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;

}

header{
    width:100%;
    height:var(--hea-alt);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div#box_barraCongelada{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height:75%;
    width: 90%;
    border-radius: 25px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
}
div#img_logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: var(--borda);/*ESTRUTURA TEMPRÁRIA*/
    height: 50%;
    width: 25%;
    text-align: center;
}

div#contorno_nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;

}

nav#nav_prin > a{
    text-decoration: none;
    color: #041922;
    font-family: "Asap Sharp", sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin: 10px;
}

nav#nav_prin >a:hover{
    border-bottom: 3px solid var(--sec-cor);
    transition: .25s;
}

main{
    width:100%;
    height:max-content;
}

section{
    background-color:white;
    display: flex;/*ESTRUTURA TEMPRÁRIA*/
    height:600px;/*ESTRUTURA TEMPRÁRIA*/
}

section#sec_intro{
    background-color: rgba(255, 255, 255, 0);
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    
}

section#sec_intro p#motiv{
    font-family: "Zen Dots", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 5.2em;
    color: white;
    text-align: left;
    padding-left: 50px;
}

span#dest{
    color: var(--sec-cor);
}

section#sec_intro div#boxMotiv{
    width:55%;
    
}

div#boxEu > *{
    color:white;
}

section#sec_intro div#boxEu{
    display: flex;
    justify-content: center;
    align-items:baseline;
    width:45%;
    height: 90%;
    
}

section#sec_intro div#cartaEu{
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items:center;
    width:75%;
    height: 90%;
    border-radius: 75px;
}

img#fotoApres{
    width: 150px;
    height: 150px;
    border-radius: 75px;   
}

div#boxFoto{
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 95%;
    padding-top:10px;
    
}

div#cartaEu > p{
    width: 90%;
    text-align: end;
    padding-bottom: 10px;
    font-family: "Asap Sharp", sans-serif;
    
}

p#sobreMim{
    font-style: italic;
}

p#cargo{
    font-size: 1.3em;
    padding-top:15px;
}

p#espec{
    font-size: 1.1em;
}

section#sec_serv{
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

div#box_servicos > div{
    width:50px;
    height:50px;
    border:var(--borda);
    margin:auto;
}

div#box_servicos > div:hover{
    background-color:var(--terc-cor);
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.382);

}

div#box_servicos{
    display: flex;
    flex-direction: row;
    width:80%;
    height:80%;
    border:var(--borda);
}

section#sec_apps{
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

div#box_apps{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    width:80%;
    height:75%;
    border: var(--borda);
}

div#app_OrcSolar{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 80%;
    border: var(--borda);
    margin: auto;
    text-align: center;
}

div#app_HorPonta{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 80%;
    border: var(--borda);
    margin: auto;
    text-align: center;
}

section#sec_apps{
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

section#sec_projDesenv{
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

footer{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color: var(--terc-cor);
    color: white;
    width:100%;
    height:var(--foot-alt);
}

